html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
/* Header */

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.mobile {
    display: none;
}

.header_logo {
    display: inline-flex;
    height: 2rem;
    align-items: center;
    width: 20%;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
}

.second_word {
    font-weight: lighter;
}


nav ul {
    list-style-type: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    margin-left: 1rem;
}

@media only screen and (max-width: 640px) {
   .desktop {
    display: none;
   }

   .mobile {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
   }

   .mobile nav {
    display: inline-flex;
    width: 90%;
    align-content: center;
    justify-content: space-between;
   }

   .mobile nav img{
    height: 2.5rem;
    width: auto;
    }
}

/* End of Header */

/* Start of learn div */

.learn {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-right: 4rem ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #dcdcdc;
}

.learn_img {
    display: flex;
    width: 60%;
    height: fit-content;
    padding: 0 1.5rem;
    align-content: center;
}

.learn_img img {
    width: 100%;
    height: auto;
    flex: 2 1 auto;
}

.learn_text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.learn_text h2 {
    font-size: 1.75rem;
    font-weight: 900;
    margin: 0;
}

.learn_text p {
    font-weight: bold;
    margin-top: 1rem;
}

.learn_text span {
    text-align: center;
    margin: 1rem;
    background-color: rgb(43, 43, 43);
    padding: 0.5rem;
    color: white;
}

@media only screen and (max-width: 640px) {
    .learn {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        padding: 0;
        max-width: 100vw;
    }

    .learn_img {
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    .learn_img img {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .learn_text {
        padding: 2rem 1rem;
    }
}

/* End of learn something new */

/* Start of practice section */

.mobile_practice {
    display: none;
}

.desktop_practice {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 2rem 0;
    font-family: "Poppins";
}

.desktop_practice .left {
    width: 60%;
    height: auto;
    box-sizing: border-box;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.desktop_practice .left img {
    width: 100%;
    height: auto;
    
}

.desktop_practice .right {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    justify-content: space-between;
    height: 100%;
}

.desktop_card {
    width: 100%;
    display: flex;
    align-content: flex-start;
    margin-bottom: 1rem;
}

.desktop_card_img {
    width: 35%;
    height: auto;
    padding: 0;
    margin: 0 1rem 0 0;
}

.desktop_card_img img {
    width: 100%;
    height: auto;
}

.desktop_card_text {
    width: 65%;
    padding: 0;
    align-content: center;
}

.desktop_card_text h4 {
    margin: 0;
}

.desktop_card_text a {
    text-decoration: none;
}

@media only screen and (max-width: 640px) {
    .desktop_practice {
        display: none;
    }

    .mobile_practice {
        display: flex;
        flex-flow: column wrap;
        max-width: 100vw;
        padding: 1rem;
        font-family: "Poppins";
    }

    .card {
        margin-bottom: 4rem;
    }

    .card h3, .card p, .card a {
        padding-left: 1rem;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
}

/* End of practice section */

/* Start of Start Learning Section*/
/* Desktop */

.start_learning_mobile {
    display: none;
}

.start_learning_desktop {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(216, 216, 216);
    font-family: 'Poppins';
}

.start_learning_desktop h1 {
    text-align: center;
    margin-top: 2rem;
    justify-items: center;
    margin-bottom: 0;
}

.start_learning_desktop .learn_cards {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.start_learning_desktop .learn_card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 25%;
    height: auto;
    background-color: white;
}

.start_learning_desktop .learn_card img {
    width: 100%;
    height: auto;
} 

.start_learning_desktop .txtlearn {
    padding: 1rem;
}

@media only screen and (max-width: 640px) {
    .start_learning_desktop {
        display: none;
    }

    .start_learning_mobile {
        display: flex;
        flex-flow: column wrap;
        margin: auto;
        font-family: "Poppins", sans-serif;
        margin-bottom: 2rem;
    }

    .start_learning_mobile h1 {
        text-align: center;
        font-weight: bolder;
        margin: 2rem 0 1rem 0;
    }

    .start_learning_mobile h3 {
        padding: 1rem 1rem 1.5rem 1rem;
        background-color: rgb(216, 216, 216);
        margin: 0 1rem 0.5rem 1rem;
    }
}

/* End of Start Learning Section */
.thesis_mobile {
    display: none;
}

.thesis_desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
    font-family: "Poppins";
    align-items: center;
}

.flex_thesis {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 2rem 0;
}

.flex_thesis_left {
    width: 60%;
    height: auto;
    box-sizing: border-box;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.flex_thesis_left video{
    width: 100%;
    height: auto;
}


.flex_thesis_right {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-top: 0;
}

.right_card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.right_card_img {
    width: 35%;
    padding: 1rem;
    height: auto;
    margin: 0;
}

.right_card img {
    width: 100%;
    height: auto;
}

.right_card_text {
    width: 65%;
    margin: 0;
    padding: 0;
}

#fisma {
    background-color: rgb(214, 214, 214);
}

/* Mobile */

@media only screen and (max-width: 640px) {
    .thesis_desktop {
        display: none;
    }

    .thesis_mobile {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        font-family: "Poppins", sans-serif;
    }

    .thesis_mobile video {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
}

/* End of thesis section */

/* Start of footer */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 640px) {
    .terms {
        display: none;
    }
}

/* End of footer */
