html {
    font-size: 16px;
}

/* Header */

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.mobile {
    display: none;
}

.header_logo {
    display: inline-flex;
    height: 2rem;
    align-items: center;
    width: 20%;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
}

.second_word {
    font-weight: lighter;
}


nav ul {
    list-style-type: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    margin-left: 1rem;
}

@media only screen and (max-width: 640px) {
   .desktop {
    display: none;
   }

   .mobile {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
   }

   .mobile nav {
    display: inline-flex;
    width: 90%;
    align-content: center;
    justify-content: space-between;
   }

   .mobile nav img{
    height: 2.5rem;
    width: auto;
    }
}

/* End of Header */

/* Start of learn div */

.learn {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-right: 4rem ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #dcdcdc;
}

.learn_img {
    display: flex;
    width: 60%;
    height: fit-content;
    padding: 0 1.5rem;
    align-content: center;
}

.learn_img img {
    width: 100%;
    height: auto;
    flex: 2 1 auto;
}

.learn_text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.learn_text h2 {
    font-size: 1.75rem;
    font-weight: 900;
    margin: 0;
}

.learn_text p {
    font-weight: bold;
    margin-top: 1rem;
}

.learn_text span {
    text-align: center;
    margin: 1rem;
    background-color: rgb(43, 43, 43);
    padding: 0.5rem;
    color: white;
}

@media only screen and (max-width: 640px) {
    .learn {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        padding: 0;
    }

    .learn_img {
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    .learn_img img {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .learn_text {
        padding: 2rem 1rem;
    }
}

/* End of learn something new */